@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/fixes.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/jf_font.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/base.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/accentlist.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/rounding_circlehover.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/smallercast.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/episodes_compactlist.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/header_transparent.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/login_frame.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/fields_noborder.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/indicator_floating.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/dark.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/title_banner-logo.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/floating.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/hoverglow.css');
@import url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/glassy.css');

.backdropImage {
  filter: blur(0px) saturate(112%) contrast(104%) brightness(108%) !important;
  opacity: 0.96 !important;
}

.detailPageSecondaryContainer.padded-bottom-page {
  background-color: rgba(0, 0, 0, 0.64);
}

#loginPage {
  background-image: image-set(
    url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/loginBG.webp') type('image/webp'),
    url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/loginBG.jpg') type('image/jpeg')
  ) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

:root {
  --accent: 98, 121, 205;
  --rounding: 12px;
}

.pageTitleWithDefaultLogo,
.pageTitleWithLogo {
  background-image: image-set(
    url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/ServerLogo_long2x_noBG.webp') type('image/webp'),
    url('https://philosophiedeluxe.github.io/my_homepage/Server_CSS/ServerLogo_long2x_noBG.png') type('image/png')
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: clamp(12rem, 16vw, 15.625rem);
  height: clamp(3rem, 4.5vw, 3.75rem);
}
